/target
**/music
.DS_Store
**/*.jpg
**/*.jpeg
**/*.png
**/*.flac
**/*.mp3
**/*.mp4
**/*.m4a
**/*.dsf
**/*.ape
**/*.wv
**/*.wav
**/*.ogg
**/*.aac
**/*.m4b
**/*.m4p
**/*.log
bom.txt
tree.txt
Cargo.lock
test.txt
